<h1>Tu logowanie</h1>
<h1>Podaj swoje dane</h1>


<form asp-action="LoginForm">
    <input name="login" id="login"  class="form-control" />
    <input name="haslo" id="haslo"  class="form-control" />
    <input type="submit" value="LoginForm" id="wyloguj" class="btn btn-primary" />
</form>

<h1>Albo sie zarejstruj</h1>
<a  asp-area="" asp-controller="Home" asp-action="Register">Register</a>