@model Aplikacja.Models.UserModel

<form asp-action="RegisterForm">
    <div class="form-check">
        <input type="email" placeholder="Enter login"> 
    </div>
    <div class="form-check">
        <input type="password" placeholder="Enter password"> 
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>